= {{ title }}
:source-highlighter: highlight.js

++++
<script src="javascript.js"></script>
++++

[tabs]
====
{% for snippet in snippets %}
{{ snippet.language }}::
+
--
[source,{{ snippet.language }}]
----
{{ snippet.code }}
----

[.toggle-output]*∨* 

[source,console]
[role=output]
----
{{ snippet.output }}
----
--
{% endfor %}
====

{{ discussion }}
